<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="GBApp.GBApp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBsuCE4QtifBBtdbXq6OIWPcfIN67668AE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="GBApp"></application>
</manifest>